
<%= image_tag @portfolio_item.main_image %>

<h2><%= @portfolio_item.title %></h2>
<h4><%= @portfolio_item.subtitle %></h4>
<p><%= @portfolio_item.body %></p>

<h2>Built with</h2>

<% @portfolio_item.technologies.each do |tech| %>
  <p><%= tech.name %></p>
<% end %>
