<div>
  <%= traffic_source %>
</div>

<div class="user_login">
  <%= user_login_helper %>
</div>


  <div class="navbar">
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "About", about_path %></div>
    <div><%= link_to "Portfolio", portfolios_path %></div>
    <div><%= link_to "Blog", blogs_url %></div>
  </div>
